<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Tinder</title>
</head>

<body>
    <section class="multi_step_form">
        <form action="/dogs" method="POST">
            <fieldset>
                <div class="userprofile1">
                    <input type="text" name="name" placeholder="Name" id="name"/>
                    <input type="text" name="image" placeholder="image" id="image" />
                    <input type="text" name="sex" placeholder="F" id="sex"/>
                    <input type="text" name="yob" placeholder="yob" id="yob" />
                    <input type="text" name="breed" placeholder="breed" id="breed"/>
                    <input type="text" name="description" placeholder="description" id="description" />
                    <input type="submit" value="Continue" />
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>