<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Tinder</title>
</head>

<body>
    <section class="multi_step_form">
        <form action="/users" method="POST" enctype="multipart/form-data">
            <fieldset>
                <div class="userprofile1">
                    <input type="text" name="fullName" placeholder="Full Name" id="fullName"/>
                    <input type="text" name="username" placeholder="Username" id="username" />
                    <input type="text" name="password" placeholder="Password" id="password"/>
                    <input type="text" name="email" placeholder="email" id="email" />
                    <input type="text" name="location" placeholder="N" id="location" />
                    <input type="file" name="image">
                    <input type="submit" value="Continue" />
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>